body {
    background-color: #DB9370;
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    text-align: center;
}

*::-webkit-input-placeholder {
    color: #ddd;
}    
*:-moz-placeholder {
    color: #ddd;
}
*::-moz-placeholder {
    color: #ddd;
}    
*:-ms-input-placeholder {
    color: #ddd;
}


#logo:before {
    content: "scInstant";
    font-size: 4em;
    font-weight: 100;
    color: #FF851B;
}

#app {
    padding: 5% 10%;
}

#searchterm {
    width: 80%;
    max-width: 300px;
    height: 20px;
    font-size: 18px;
    padding: 3px;
    border-radius: 8px;
    border: 0;
    color: #fff;
    background: rgba(0,0,0,.1);
    padding: 10px;
    outline: 0px;
    box-shadow: 0 1px 0 rgba(255,255,255,.15), 
                0 2px 4px rgba(0,0,0,.2) inset, 
                0 0 12px rgba(255,255,255,.1);
}

#widget {
    margin-top: 2em;
}
